openapi: 3.1.0
info:
  title: Boomi DataHub Atoms Execution API
  description: 'The Boomi DataHub REST API provides programmatic access to master data management operations. It consists of two layers: the Platform API for managing repositories, models, sources, and domains; and the Repository API for querying and manipulating golden records and staged entities. The Platform API uses Basic Authentication while the Repository API supports JWT authentication. Requests are subject to usage limits based on licensed connectors (1,000 times the number of connectors per 24 hours).'
  version: '1.0'
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://mdh.boomi.com/mdh
  description: Boomi DataHub Platform API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Execution
  description: Execute integration processes and retrieve execution statistics and job results.
paths:
  /ExecutionRequest:
    post:
      operationId: executeProcess
      summary: Boomi Execute a process
      description: Triggers the execution of an integration process on a specified Atom. Returns an execution request ID that can be used to track the job.
      tags:
      - Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: The execution request with a job ID for tracking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRequestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ExecutionRecord/query:
    post:
      operationId: queryExecutionRecords
      summary: Boomi Query execution records
      description: Returns a list of process execution records matching the specified filter criteria. Useful for retrieving job history and execution statistics.
      tags:
      - Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query results containing matching execution records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRecordQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ExecutionRequest:
      type: object
      description: Request to execute an integration process on a specific Atom.
      required:
      - atomId
      - processId
      properties:
        atomId:
          type: string
          description: ID of the Atom on which to run the process.
        processId:
          type: string
          description: ID of the process to execute.
        processProperties:
          type: array
          description: Optional runtime properties to pass to the process.
          items:
            type: object
            properties:
              name:
                type: string
                description: Property name.
              value:
                type: string
                description: Property value.
    ExecutionRecordQueryResult:
      type: object
      description: Paginated query results for execution records.
      properties:
        numberOfResults:
          type: integer
          description: Total number of matching records.
        queryToken:
          type: string
          description: Token for retrieving the next page of results.
        result:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionRecord'
    ExecutionRecord:
      type: object
      description: A record of an integration process execution (job run).
      properties:
        executionId:
          type: string
          description: Unique identifier of the execution.
        processId:
          type: string
          description: ID of the process that was executed.
        atomId:
          type: string
          description: ID of the Atom that ran the process.
        status:
          type: string
          description: Final status of the execution.
          enum:
          - COMPLETE
          - ERROR
          - INPROCESS
          - ABORTED
          - DISCARDED
        executionTime:
          type: string
          format: date-time
          description: Timestamp when the execution started.
        duration:
          type: integer
          description: Execution duration in milliseconds.
        message:
          type: string
          description: Status message or error details.
    ExecutionRequestResult:
      type: object
      description: Result of an execution request submission.
      properties:
        requestId:
          type: string
          description: Unique identifier for tracking this execution request.
        status:
          type: string
          description: Current status of the execution request.
    QueryRequest:
      type: object
      description: Request body for querying platform objects with filter criteria.
      properties:
        QueryFilter:
          type: object
          description: Filter expression for narrowing query results.
          properties:
            expression:
              type: object
              description: Filter expression with operator and arguments.
              properties:
                operator:
                  type: string
                  description: Logical operator for combining filter criteria.
                  enum:
                  - AND
                  - OR
                nestedExpression:
                  type: array
                  description: Nested filter expressions.
                  items:
                    type: object
                    properties:
                      argument:
                        type: array
                        items:
                          type: string
                        description: Filter values.
                      operator:
                        type: string
                        description: Comparison operator.
                        enum:
                        - EQUALS
                        - NOT_EQUALS
                        - LIKE
                        - STARTS_WITH
                      property:
                        type: string
                        description: Object property to filter on.
    ErrorResponse:
      type: object
      description: Standard error response from the Boomi Platform API.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication for the DataHub Platform API. Users with two-factor authentication must include an X-Boomi-OTP header.
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token for the Repository API.
externalDocs:
  description: Boomi DataHub REST API Documentation
  url: https://help.boomi.com/docs/Atomsphere/Master%20Data%20Hub/REST%20APIs/r-mdm-REST_APIs_f43499a6-3d1c-4102-bf13-94b02659dd9f
