openapi: 3.2.0
info:
  title: Boomi Platform REST Environments API
  description: The Boomi Platform REST API provides programmatic access to the Boomi Enterprise Platform. It allows control of objects associated with your account including account administration, cloud management, component management, deployment, environment management, execution statistics, integration packs, process execution, and runtime management. The API follows an object/verb hierarchy and uses Basic Authentication with the account ID embedded in the URL path.
  version: 1.0.0
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://api.boomi.com/api/rest/v1/{accountId}
  description: Boomi Platform REST API
  variables:
    accountId:
      description: The Boomi account ID for the authenticated account.
      default: your-account-id
security:
- basicAuth: []
tags:
- name: Environments
  description: Manage runtime environments where Boomi Atoms and Molecules are deployed to run integration processes.
paths:
  /Environment:
    post:
      operationId: createEnvironment
      summary: Boomi Create an environment
      description: Creates a new runtime environment in the Boomi platform for deploying and running integration processes.
      tags:
      - Environments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentInput'
      responses:
        '200':
          description: The created environment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Environment/{id}:
    get:
      operationId: getEnvironment
      summary: Boomi Get an environment
      description: Retrieves the details of a specific runtime environment by its ID.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: The environment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteEnvironment
      summary: Boomi Delete an environment
      description: Permanently deletes a runtime environment from the Boomi platform.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: Deletion successful.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /Environment/query:
    post:
      operationId: queryEnvironments
      summary: Boomi Query environments
      description: Returns a list of runtime environments matching the specified query filter criteria.
      tags:
      - Environments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query results containing matching environment objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response from the Boomi Platform API.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
    EnvironmentInput:
      type: object
      description: Input for creating a runtime environment.
      required:
      - name
      - classification
      properties:
        name:
          type: string
          description: Display name for the environment.
        classification:
          type: string
          description: Whether this is a production or test environment.
          enum:
          - PRODUCTION
          - TEST
    QueryRequest:
      type: object
      description: Request body for querying platform objects with filter criteria.
      properties:
        QueryFilter:
          type: object
          description: Filter expression for narrowing query results.
          properties:
            expression:
              type: object
              description: Filter expression with operator and arguments.
              properties:
                operator:
                  type: string
                  description: Logical operator for combining filter criteria.
                  enum:
                  - AND
                  - OR
                nestedExpression:
                  type: array
                  description: Nested filter expressions.
                  items:
                    type: object
                    properties:
                      argument:
                        type: array
                        items:
                          type: string
                        description: Filter values.
                      operator:
                        type: string
                        description: Comparison operator.
                        enum:
                        - EQUALS
                        - NOT_EQUALS
                        - LIKE
                        - STARTS_WITH
                      property:
                        type: string
                        description: Object property to filter on.
    EnvironmentQueryResult:
      type: object
      description: Paginated query results for environments.
      properties:
        numberOfResults:
          type: integer
          description: Total number of matching records.
        queryToken:
          type: string
          description: Token for retrieving the next page of results.
        result:
          type: array
          items:
            $ref: '#/components/schemas/Environment'
    Environment:
      type: object
      description: A Boomi runtime environment where Atoms are assigned and processes are deployed.
      properties:
        id:
          type: string
          description: Unique identifier of the environment.
        name:
          type: string
          description: Display name of the environment.
        classification:
          type: string
          description: Environment classification.
          enum:
          - PRODUCTION
          - TEST
        createdDate:
          type: string
          format: date-time
          description: Timestamp when the environment was created.
  parameters:
    ObjectId:
      name: id
      in: path
      required: true
      description: Unique identifier of the platform object.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication using username (email) and API token. The account ID must also be included in the URL path.
externalDocs:
  description: Boomi Platform REST API Documentation
  url: https://developer.boomi.com/docs/APIs/PlatformAPI/Introduction/Platform_API
