openapi: 3.2.0
info:
  title: Boomi Platform REST Deployments API
  description: The Boomi Platform REST API provides programmatic access to the Boomi Enterprise Platform. It allows control of objects associated with your account including account administration, cloud management, component management, deployment, environment management, execution statistics, integration packs, process execution, and runtime management. The API follows an object/verb hierarchy and uses Basic Authentication with the account ID embedded in the URL path.
  version: 1.0.0
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://api.boomi.com/api/rest/v1/{accountId}
  description: Boomi Platform REST API
  variables:
    accountId:
      description: The Boomi account ID for the authenticated account.
      default: your-account-id
security:
- basicAuth: []
tags:
- name: Deployments
  description: Manage deployed packages and the deployment of integration components to environments.
paths:
  /DeployedPackage:
    post:
      operationId: createDeployedPackage
      summary: Boomi Deploy a package
      description: Deploys a packaged component to an environment. Creates a new deployed package record associating the package with the target environment.
      tags:
      - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployedPackageInput'
      responses:
        '200':
          description: The deployed package record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployedPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /DeployedPackage/{id}:
    get:
      operationId: getDeployedPackage
      summary: Boomi Get a deployed package
      description: Retrieves the details of a specific deployed package by its ID.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: The deployed package object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployedPackage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDeployedPackage
      summary: Boomi Undeploy a package
      description: Removes a deployed package from its environment, undeploying the component.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: Undeployment successful.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /DeployedPackage/query:
    post:
      operationId: queryDeployedPackages
      summary: Boomi Query deployed packages
      description: Returns a list of deployed packages matching the specified filter criteria. Useful for auditing current deployments across environments.
      tags:
      - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query results containing matching deployed package objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployedPackageQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response from the Boomi Platform API.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
    DeployedPackage:
      type: object
      description: A packaged component deployed to a specific runtime environment.
      properties:
        deploymentId:
          type: string
          description: Unique identifier of the deployment.
        environmentId:
          type: string
          description: ID of the environment to which the package is deployed.
        packageId:
          type: string
          description: ID of the deployed packaged component.
        componentId:
          type: string
          description: ID of the underlying component.
        componentType:
          type: string
          description: Type of the deployed component.
        deployedDate:
          type: string
          format: date-time
          description: Timestamp when the package was deployed.
        active:
          type: boolean
          description: Whether this deployment is currently active.
    DeployedPackageQueryResult:
      type: object
      description: Paginated query results for deployed packages.
      properties:
        numberOfResults:
          type: integer
          description: Total number of matching records.
        queryToken:
          type: string
          description: Token for retrieving the next page of results.
        result:
          type: array
          items:
            $ref: '#/components/schemas/DeployedPackage'
    QueryRequest:
      type: object
      description: Request body for querying platform objects with filter criteria.
      properties:
        QueryFilter:
          type: object
          description: Filter expression for narrowing query results.
          properties:
            expression:
              type: object
              description: Filter expression with operator and arguments.
              properties:
                operator:
                  type: string
                  description: Logical operator for combining filter criteria.
                  enum:
                  - AND
                  - OR
                nestedExpression:
                  type: array
                  description: Nested filter expressions.
                  items:
                    type: object
                    properties:
                      argument:
                        type: array
                        items:
                          type: string
                        description: Filter values.
                      operator:
                        type: string
                        description: Comparison operator.
                        enum:
                        - EQUALS
                        - NOT_EQUALS
                        - LIKE
                        - STARTS_WITH
                      property:
                        type: string
                        description: Object property to filter on.
    DeployedPackageInput:
      type: object
      description: Input for deploying a packaged component to an environment.
      required:
      - environmentId
      - packageId
      properties:
        environmentId:
          type: string
          description: ID of the target environment.
        packageId:
          type: string
          description: ID of the packaged component to deploy.
        notes:
          type: string
          description: Optional deployment notes.
  parameters:
    ObjectId:
      name: id
      in: path
      required: true
      description: Unique identifier of the platform object.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication using username (email) and API token. The account ID must also be included in the URL path.
externalDocs:
  description: Boomi Platform REST API Documentation
  url: https://developer.boomi.com/docs/APIs/PlatformAPI/Introduction/Platform_API
