openapi: 3.2.0
info:
  title: Boomi Platform REST Atoms API
  description: The Boomi Platform REST API provides programmatic access to the Boomi Enterprise Platform. It allows control of objects associated with your account including account administration, cloud management, component management, deployment, environment management, execution statistics, integration packs, process execution, and runtime management. The API follows an object/verb hierarchy and uses Basic Authentication with the account ID embedded in the URL path.
  version: 1.0.0
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://api.boomi.com/api/rest/v1/{accountId}
  description: Boomi Platform REST API
  variables:
    accountId:
      description: The Boomi account ID for the authenticated account.
      default: your-account-id
security:
- basicAuth: []
tags:
- name: Atoms
  description: Manage Boomi Atoms — the lightweight runtime engines that execute integration processes.
paths:
  /Atom/{id}:
    get:
      operationId: getAtom
      summary: Boomi Get an Atom
      description: Retrieves the details of a specific Boomi Atom (runtime engine) by its ID.
      tags:
      - Atoms
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: The Atom object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Atom'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: updateAtom
      summary: Boomi Update an Atom
      description: Updates the name or purge schedule of an existing Boomi Atom.
      tags:
      - Atoms
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtomInput'
      responses:
        '200':
          description: The updated Atom object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Atom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAtom
      summary: Boomi Delete an Atom
      description: Removes an Atom from the Boomi platform. The Atom must be offline before it can be deleted.
      tags:
      - Atoms
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: Deletion successful.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /Atom/query:
    post:
      operationId: queryAtoms
      summary: Boomi Query Atoms
      description: Returns a list of Atoms matching the specified filter criteria, including online/offline status and environment associations.
      tags:
      - Atoms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query results containing matching Atom objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtomQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    AtomInput:
      type: object
      description: Input for updating an Atom.
      properties:
        name:
          type: string
          description: Updated display name for the Atom.
        purgeHistoryDays:
          type: integer
          description: Number of days to retain execution history before purging.
    ErrorResponse:
      type: object
      description: Standard error response from the Boomi Platform API.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
    QueryRequest:
      type: object
      description: Request body for querying platform objects with filter criteria.
      properties:
        QueryFilter:
          type: object
          description: Filter expression for narrowing query results.
          properties:
            expression:
              type: object
              description: Filter expression with operator and arguments.
              properties:
                operator:
                  type: string
                  description: Logical operator for combining filter criteria.
                  enum:
                  - AND
                  - OR
                nestedExpression:
                  type: array
                  description: Nested filter expressions.
                  items:
                    type: object
                    properties:
                      argument:
                        type: array
                        items:
                          type: string
                        description: Filter values.
                      operator:
                        type: string
                        description: Comparison operator.
                        enum:
                        - EQUALS
                        - NOT_EQUALS
                        - LIKE
                        - STARTS_WITH
                      property:
                        type: string
                        description: Object property to filter on.
    AtomQueryResult:
      type: object
      description: Paginated query results for Atoms.
      properties:
        numberOfResults:
          type: integer
          description: Total number of matching records.
        queryToken:
          type: string
          description: Token for retrieving the next page of results.
        result:
          type: array
          items:
            $ref: '#/components/schemas/Atom'
    Atom:
      type: object
      description: A Boomi Atom — the lightweight runtime engine that executes integration processes.
      properties:
        id:
          type: string
          description: Unique identifier of the Atom.
        name:
          type: string
          description: Display name of the Atom.
        status:
          type: string
          description: Current online/offline status of the Atom.
          enum:
          - ONLINE
          - OFFLINE
          - UNKNOWN
        type:
          type: string
          description: Atom type.
          enum:
          - ATOM
          - MOLECULE
          - CLOUD
        hostName:
          type: string
          description: Hostname of the machine running the Atom.
        currentVersion:
          type: string
          description: Current Boomi runtime version installed on the Atom.
        dateInstalled:
          type: string
          format: date-time
          description: Timestamp when the Atom was installed.
  parameters:
    ObjectId:
      name: id
      in: path
      required: true
      description: Unique identifier of the platform object.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication using username (email) and API token. The account ID must also be included in the URL path.
externalDocs:
  description: Boomi Platform REST API Documentation
  url: https://developer.boomi.com/docs/APIs/PlatformAPI/Introduction/Platform_API
