openapi: 3.2.0
info:
  title: Boomi Platform REST Execution API
  description: The Boomi Platform REST API provides programmatic access to the Boomi Enterprise Platform. It allows control of objects associated with your account including account administration, cloud management, component management, deployment, environment management, execution statistics, integration packs, process execution, and runtime management. The API follows an object/verb hierarchy and uses Basic Authentication with the account ID embedded in the URL path.
  version: 1.0.0
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://api.boomi.com/api/rest/v1/{accountId}
  description: Boomi Platform REST API
  variables:
    accountId:
      description: The Boomi account ID for the authenticated account.
      default: your-account-id
security:
- basicAuth: []
tags:
- name: Execution
  description: Execute integration processes and retrieve execution statistics and job results.
paths:
  /ExecutionRequest:
    post:
      operationId: executeProcess
      summary: Boomi Execute a process
      description: Triggers the execution of an integration process on a specified Atom. Returns an execution request ID that can be used to track the job.
      tags:
      - Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: The execution request with a job ID for tracking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRequestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /ExecutionRecord/query:
    post:
      operationId: queryExecutionRecords
      summary: Boomi Query execution records
      description: Returns a list of process execution records matching the specified filter criteria. Useful for retrieving job history and execution statistics.
      tags:
      - Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query results containing matching execution records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRecordQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response from the Boomi Platform API.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
    ExecutionRecordQueryResult:
      type: object
      description: Paginated query results for execution records.
      properties:
        numberOfResults:
          type: integer
          description: Total number of matching records.
        queryToken:
          type: string
          description: Token for retrieving the next page of results.
        result:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionRecord'
    ExecutionRequest:
      type: object
      description: Request to execute an integration process on a specific Atom.
      required:
      - atomId
      - processId
      properties:
        atomId:
          type: string
          description: ID of the Atom on which to run the process.
        processId:
          type: string
          description: ID of the process to execute.
        processProperties:
          type: array
          description: Optional runtime properties to pass to the process.
          items:
            type: object
            properties:
              name:
                type: string
                description: Property name.
              value:
                type: string
                description: Property value.
    ExecutionRequestResult:
      type: object
      description: Result of an execution request submission.
      properties:
        requestId:
          type: string
          description: Unique identifier for tracking this execution request.
        status:
          type: string
          description: Current status of the execution request.
    QueryRequest:
      type: object
      description: Request body for querying platform objects with filter criteria.
      properties:
        QueryFilter:
          type: object
          description: Filter expression for narrowing query results.
          properties:
            expression:
              type: object
              description: Filter expression with operator and arguments.
              properties:
                operator:
                  type: string
                  description: Logical operator for combining filter criteria.
                  enum:
                  - AND
                  - OR
                nestedExpression:
                  type: array
                  description: Nested filter expressions.
                  items:
                    type: object
                    properties:
                      argument:
                        type: array
                        items:
                          type: string
                        description: Filter values.
                      operator:
                        type: string
                        description: Comparison operator.
                        enum:
                        - EQUALS
                        - NOT_EQUALS
                        - LIKE
                        - STARTS_WITH
                      property:
                        type: string
                        description: Object property to filter on.
    ExecutionRecord:
      type: object
      description: A record of an integration process execution (job run).
      properties:
        executionId:
          type: string
          description: Unique identifier of the execution.
        processId:
          type: string
          description: ID of the process that was executed.
        atomId:
          type: string
          description: ID of the Atom that ran the process.
        status:
          type: string
          description: Final status of the execution.
          enum:
          - COMPLETE
          - ERROR
          - INPROCESS
          - ABORTED
          - DISCARDED
        executionTime:
          type: string
          format: date-time
          description: Timestamp when the execution started.
        duration:
          type: integer
          description: Execution duration in milliseconds.
        message:
          type: string
          description: Status message or error details.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication using username (email) and API token. The account ID must also be included in the URL path.
externalDocs:
  description: Boomi Platform REST API Documentation
  url: https://developer.boomi.com/docs/APIs/PlatformAPI/Introduction/Platform_API
