openapi: 3.2.0
info:
  title: Boomi Platform REST Components API
  description: The Boomi Platform REST API provides programmatic access to the Boomi Enterprise Platform. It allows control of objects associated with your account including account administration, cloud management, component management, deployment, environment management, execution statistics, integration packs, process execution, and runtime management. The API follows an object/verb hierarchy and uses Basic Authentication with the account ID embedded in the URL path.
  version: 1.0.0
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://api.boomi.com/api/rest/v1/{accountId}
  description: Boomi Platform REST API
  variables:
    accountId:
      description: The Boomi account ID for the authenticated account.
      default: your-account-id
security:
- basicAuth: []
tags:
- name: Components
  description: Manage packaged components and integration pack attachments.
paths:
  /PackagedComponent:
    post:
      operationId: createPackagedComponent
      summary: Boomi Create a packaged component
      description: Creates a packaged version of a Boomi component (process, connector, etc.) that can be deployed to environments.
      tags:
      - Components
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackagedComponentInput'
      responses:
        '200':
          description: The created packaged component.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackagedComponent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /PackagedComponent/{id}:
    get:
      operationId: getPackagedComponent
      summary: Boomi Get a packaged component
      description: Retrieves the details of a specific packaged component by its ID.
      tags:
      - Components
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: The packaged component object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackagedComponent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    PackagedComponentInput:
      type: object
      description: Input for creating a packaged component.
      required:
      - componentId
      - componentVersion
      properties:
        componentId:
          type: string
          description: ID of the component to package.
        componentVersion:
          type: string
          description: Version of the component to include in the package.
        packageVersion:
          type: string
          description: Optional version label for the package.
        notes:
          type: string
          description: Optional notes about this package version.
    ErrorResponse:
      type: object
      description: Standard error response from the Boomi Platform API.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
    PackagedComponent:
      type: object
      description: A versioned, deployable package of a Boomi component.
      properties:
        packageId:
          type: string
          description: Unique identifier of the packaged component.
        componentId:
          type: string
          description: ID of the underlying component.
        componentVersion:
          type: string
          description: Version of the component included in this package.
        componentType:
          type: string
          description: Type of the packaged component (process, connector, etc.).
        packageVersion:
          type: string
          description: Version label for this package.
        createdDate:
          type: string
          format: date-time
          description: Timestamp when the package was created.
  parameters:
    ObjectId:
      name: id
      in: path
      required: true
      description: Unique identifier of the platform object.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication using username (email) and API token. The account ID must also be included in the URL path.
externalDocs:
  description: Boomi Platform REST API Documentation
  url: https://developer.boomi.com/docs/APIs/PlatformAPI/Introduction/Platform_API
