openapi: 3.1.0
info:
  title: Boomi DataHub Atoms Deployments API
  description: 'The Boomi DataHub REST API provides programmatic access to master data management operations. It consists of two layers: the Platform API for managing repositories, models, sources, and domains; and the Repository API for querying and manipulating golden records and staged entities. The Platform API uses Basic Authentication while the Repository API supports JWT authentication. Requests are subject to usage limits based on licensed connectors (1,000 times the number of connectors per 24 hours).'
  version: '1.0'
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://mdh.boomi.com/mdh
  description: Boomi DataHub Platform API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Deployments
  description: Manage deployed packages and the deployment of integration components to environments.
paths:
  /DeployedPackage:
    post:
      operationId: createDeployedPackage
      summary: Boomi Deploy a package
      description: Deploys a packaged component to an environment. Creates a new deployed package record associating the package with the target environment.
      tags:
      - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployedPackageInput'
      responses:
        '200':
          description: The deployed package record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployedPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /DeployedPackage/{id}:
    get:
      operationId: getDeployedPackage
      summary: Boomi Get a deployed package
      description: Retrieves the details of a specific deployed package by its ID.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: The deployed package object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployedPackage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDeployedPackage
      summary: Boomi Undeploy a package
      description: Removes a deployed package from its environment, undeploying the component.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: Undeployment successful.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /DeployedPackage/query:
    post:
      operationId: queryDeployedPackages
      summary: Boomi Query deployed packages
      description: Returns a list of deployed packages matching the specified filter criteria. Useful for auditing current deployments across environments.
      tags:
      - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query results containing matching deployed package objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployedPackageQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ObjectId:
      name: id
      in: path
      required: true
      description: Unique identifier of the platform object.
      schema:
        type: string
  schemas:
    DeployedPackageQueryResult:
      type: object
      description: Paginated query results for deployed packages.
      properties:
        numberOfResults:
          type: integer
          description: Total number of matching records.
        queryToken:
          type: string
          description: Token for retrieving the next page of results.
        result:
          type: array
          items:
            $ref: '#/components/schemas/DeployedPackage'
    QueryRequest:
      type: object
      description: Request body for querying platform objects with filter criteria.
      properties:
        QueryFilter:
          type: object
          description: Filter expression for narrowing query results.
          properties:
            expression:
              type: object
              description: Filter expression with operator and arguments.
              properties:
                operator:
                  type: string
                  description: Logical operator for combining filter criteria.
                  enum:
                  - AND
                  - OR
                nestedExpression:
                  type: array
                  description: Nested filter expressions.
                  items:
                    type: object
                    properties:
                      argument:
                        type: array
                        items:
                          type: string
                        description: Filter values.
                      operator:
                        type: string
                        description: Comparison operator.
                        enum:
                        - EQUALS
                        - NOT_EQUALS
                        - LIKE
                        - STARTS_WITH
                      property:
                        type: string
                        description: Object property to filter on.
    ErrorResponse:
      type: object
      description: Standard error response from the Boomi Platform API.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
    DeployedPackage:
      type: object
      description: A packaged component deployed to a specific runtime environment.
      properties:
        deploymentId:
          type: string
          description: Unique identifier of the deployment.
        environmentId:
          type: string
          description: ID of the environment to which the package is deployed.
        packageId:
          type: string
          description: ID of the deployed packaged component.
        componentId:
          type: string
          description: ID of the underlying component.
        componentType:
          type: string
          description: Type of the deployed component.
        deployedDate:
          type: string
          format: date-time
          description: Timestamp when the package was deployed.
        active:
          type: boolean
          description: Whether this deployment is currently active.
    DeployedPackageInput:
      type: object
      description: Input for deploying a packaged component to an environment.
      required:
      - environmentId
      - packageId
      properties:
        environmentId:
          type: string
          description: ID of the target environment.
        packageId:
          type: string
          description: ID of the packaged component to deploy.
        notes:
          type: string
          description: Optional deployment notes.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication for the DataHub Platform API. Users with two-factor authentication must include an X-Boomi-OTP header.
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token for the Repository API.
externalDocs:
  description: Boomi DataHub REST API Documentation
  url: https://help.boomi.com/docs/Atomsphere/Master%20Data%20Hub/REST%20APIs/r-mdm-REST_APIs_f43499a6-3d1c-4102-bf13-94b02659dd9f
