openapi: 3.2.0
info:
  title: Boomi DataHub Repositories API
  description: 'The Boomi DataHub REST API provides programmatic access to master data management operations. It consists of two layers: the Platform API for managing repositories, models, sources, and domains; and the Repository API for querying and manipulating golden records and staged entities. The Platform API uses Basic Authentication while the Repository API supports JWT authentication. Requests are subject to usage limits based on licensed connectors (1,000 times the number of connectors per 24 hours).'
  version: '1.0'
  contact:
    name: Boomi Support
    url: https://community.boomi.com/s/support
  termsOfService: https://boomi.com/legal/service/
servers:
- url: https://mdh.boomi.com/mdh
  description: Boomi DataHub Platform API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Repositories
  description: Manage DataHub repositories that contain master data domains.
paths:
  /repositories:
    get:
      operationId: listRepositories
      summary: Boomi List repositories
      description: Returns a list of all DataHub repositories associated with the authenticated account.
      tags:
      - Repositories
      responses:
        '200':
          description: A list of DataHub repositories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Repository'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createRepository
      summary: Boomi Create a repository
      description: Creates a new DataHub repository for managing master data.
      tags:
      - Repositories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryInput'
      responses:
        '200':
          description: The created repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /repositories/{repositoryId}:
    get:
      operationId: getRepository
      summary: Boomi Get a repository
      description: Retrieves details of a specific DataHub repository by its ID.
      tags:
      - Repositories
      parameters:
      - $ref: '#/components/parameters/RepositoryId'
      responses:
        '200':
          description: The repository details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRepository
      summary: Boomi Delete a repository
      description: Permanently deletes a DataHub repository and all its data.
      tags:
      - Repositories
      parameters:
      - $ref: '#/components/parameters/RepositoryId'
      responses:
        '200':
          description: Deletion successful.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    RepositoryId:
      name: repositoryId
      in: path
      required: true
      description: Unique identifier of the DataHub repository.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response.
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Numeric error code.
    RepositoryInput:
      type: object
      description: Input for creating a DataHub repository.
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the repository.
        description:
          type: string
          description: Optional description of the repository.
    Repository:
      type: object
      description: A DataHub repository that organizes master data domains and models.
      properties:
        id:
          type: string
          description: Unique identifier of the repository.
        name:
          type: string
          description: Display name of the repository.
        description:
          type: string
          description: Human-readable description of the repository's purpose.
        createdDate:
          type: string
          format: date-time
          description: Timestamp when the repository was created.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic Authentication for the DataHub Platform API. Users with two-factor authentication must include an X-Boomi-OTP header.
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token for the Repository API.
externalDocs:
  description: Boomi DataHub REST API Documentation
  url: https://help.boomi.com/docs/Atomsphere/Master%20Data%20Hub/REST%20APIs/r-mdm-REST_APIs_f43499a6-3d1c-4102-bf13-94b02659dd9f
